body{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center; 
    max-width: 960px;  
    margin-left: 200px;
}

.container {
    display: flex;
    flex-direction: row; 
    flex: auto;
    height:35px;  
    width: 960px; 
}

.grid-cell {
    display: flex;
    flex:auto;
    border: 0.1px solid black;
    background-color: #ffffff;  
}
.button-container{
    margin: 10px;
}