body{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;  
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: row; 
    flex: auto;
    height:36px;  
    width: 900px; 
}

.grid-cell {
    display: flex;
    flex:auto;
    border: 0.1px solid black;
    background-color: #ffffff;  
}
.button-container{
    margin: 10px;
}